# Dependencies
node_modules/

# Build output
/dist/

# Playwright
/playwright-report/
/test-results/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Optional
*.local

# Docs (ignore all markdown except README)
*.md
!README.md
!**/README.md
